header {
  color: #CEC8FF; }

.navbar {
  margin: 0;
  background-image: linear-gradient(to right, #f1c065, #cec659, #f1c065);
  color: #f50e0e; }

.jumbotron {
  margin: 0;
  padding-top: 20px;
  background-image: linear-gradient(to right, #f1c065, #cec659, #f1c065);
  color: #f50e0e; }

.container {
  position: relative;
  text-align: center; }

#imgTransparency {
  opacity: .5;
  top: auto;
  left: auto;
  width: 100%;
 }

.backSplash {
  width: 100%;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.sideStripe{
    background-image: linear-gradient(to bottom, #f1c065, #cec659, #f1c065);
  }
#imgSize{
  height: 18rem;
  width: auto;
  margin: 0;
  padding-left: 0em;

}

.col-4{
  padding: 0em;
}
.row-color{
  background-color: lemonchiffon;
}

.row-title-color{
  background-color: lightcoral;
}

.h2-title{
  font-family: 'comic neue', cursive;
}

.h1-title{
  font-family: 'oswald', sans-serif;


}

.h3-title{
  font-family: 'Pacifico', cursive;
}

.list-unlisted{
  list-style: none;
  color: tan;
}

.imgbackSplash {
position: absolute;
opacity: .5;
top: auto;
left: auto;
height: 43rem;
width: 100%;
}

.unlisted{
  list-style: none;
}

.spacingTop{
  padding-top: 5rem;
}

.spacingBottom{
  padding-bottom: 5rem;
}

.imgbackSplash-Title {
  position: absolute;
  opacity: .5;
  top: auto;
  left: auto;
  height: 50rem;
  width: 100%;
}

p{
  font-size: 20px;
}