header {
  color: #CEC8FF; }

.navbar {
  margin: 0;
  background-image: linear-gradient(to right, #f1c065, #cec659, #f1c065);
  color: #f50e0e; }

.jumbotron {
  margin: 0;
  padding-top: 20px;
  background-image: linear-gradient(to right, #f1c065, #cec659, #f1c065);
  color: #f50e0e; }

.container {
  position: relative;
  text-align: center; }

#imgTransparency {
  opacity: .5;
  top: auto;
  left: auto; }

.backSplash {
  width: 100%;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.sideStripe{
    background-image: linear-gradient(to bottom, #f1c065, #cec659, #f1c065);
  }
#imgSize{
  height: 20rem;
  width: auto;
  margin: 0;
  padding-left: 0em;

}

.col-4{
  padding: 0em;
}
.row-color{
  background-color: lemonchiffon;
}