$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-transparent-black: rgba(0, 0, 0, 0.5);

header{
    color: #CEC8FF;
}
.navbar {
    margin: 0;
    background-image: linear-gradient(to right, rgb(241, 192, 101), rgb(206, 198, 89), rgb(241, 192, 101));
    color: rgb(245, 14, 14);    
}

.jumbotron {
    margin: 0;
    padding-top: 20px;
    background-image: linear-gradient(to right, rgb(241, 192, 101), rgb(206, 198, 89), rgb(241, 192, 101));
    color: rgb(245, 14, 14);
}

.container{
    position: relative;
    text-align: center;
}


#imgTransparency{
    opacity: .5;
    top: auto;
    left: auto;
}

.backSplash{
    width: 100%;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

